@media only screen and (max-width:425px)
{
    .logo {
        width: 35vh;
    }
    #box1 {
        width: 50%;
    }     
}
@media only screen and (max-width:320px)
{
    .logo {
        width: 25vh;
    }
    #box1 {
        width: 50%;

    }     
}
@media only screen and (max-height:425px) {
    body {
        font-size: 12px;
    }
    #box1 {
        width: 15%;
    }
    
}
@media only screen and (max-height:320px) {
    body {
        font-size: 10px;
    }
    #box1 {
        width: 15%;
    }
    
}